<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8 ">
<!-- CSS Bootstrap -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<title>Espaço Ciclos</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Espaço Ciclos</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/">Início</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Cadastrar
							Paciente</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container"></div>

	<div class="container">
		<div class="row">
			<div class="col">
			<img src="https://thumbs.dreamstime.com/b/sinal-principal-moderno-do-logotipo-da-psicologia-ser-humano-perfil-letra-libra-por-polegada-quadrada-estilo-creativo-s%C3%ADmbolo-no-105522184.jpg" class="rounded" alt="...">
			</div>
			<div class="col">Column2</div>
			<div class="col">Column3</div>
		</div>
	</div>

	</div>

</body>
</html>